<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #000000;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="navbar-nav  list-inline">

    <li class="nav-item pl-3 ml-auto list-inline-item d-flex">

        <a  routerLink="/login" class="m-3 text-white fs-16"> Sair <i class="fa fa-sign-out"
                aria-hidden="true"></i></a>
    </li>
  </ul>
</nav>

<div class="fundo" style="margin: 0; padding: 0; /*background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);*/">

 <div class="row mt-4" style="margin-left: 15%;">
    <div class="col-md-5 d-flex flex-column align-content-center" style="border-right: 1px solid rgb(197, 189, 189); margin-right: 2px">
      <span class="display-4 bg-text font-weight-bolder text-center">Quem somos</span><br>
      <p class="text-center text-justify">A rede social Aion surgiu como projeto integrador durante o Bootcamp da Generation Brasil  em 2022, baseando-se na 8-ODS da ONU, Trabalho Descente e Crescimento Econômico. Surgimos com propósito de aumentar a taxa de reciclagem de lixos eletrônicos promovendo uma rede consciente  e descontraída de conversas.</p>

      <div class="d-flex justify-content-around">
        <button class="btn btn-outline-light px-5" data-toggle="modal" data-target="#novaPostagemModal">Nova Postagem</button>
      </div>

    </div>

    <!-- ------------------------ CANTO SUPERIOR DIREITO ------------------------ -->

    <div class="col-md-6">
      <img height="100%" width="70%" src="../../assets/img/quem-somos-aion.jpg" alt="imagem de fundo" class="img-fluid">
    </div>

</div>

<!-- ------------------------ Cards ------------------------ -->


  <h2 class="text-center font-weight-bolder">Sobre nós</h2>

  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4 ">
      <div class="card" style="border-radius: 20px;">
        <img width="100%" height="100%" src="../../assets/img/missao.jpg" class="card-img-top" style="border-radius: 20px 20px 0 0 ;" alt="...">
        <div class="card-body">
          <h5 class="card-title">Missão</h5>
          <p class="card-text text-justify">Encorajar as pessoas a descartar de forma apropriada o lixo eletrônico, por meio da construção de uma comunidade divertida, segura e transparente. </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" style="border-radius: 20px;">
        <img width="100%" height="100%" src="../../assets/img/visao.jpg" class="card-img-top" style="border-radius: 20px 20px 0 0 ;" alt="...">
        <div class="card-body">
          <h5 class="card-title">Visão</h5>
          <p class="card-text text-justify">Incentivar nossa comunidade a promover o descarte adequado dos produtos eletrônicos, fazendo pontes entre empresas parceiras e o cidadão, para desta forma, gerar lucro com propósito.  Nossa visão é desvencilhar o crescimento econômico de degradação ambiental.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" style="border-radius: 20px;">
        <img width="100%" height="100%" src="../../assets/img/valores.jpg" class="card-img-top" style="border-radius: 20px 20px 0 0 ;" alt="...">
        <div class="card-body">
          <h5 class="card-title">Valores</h5>
          <p class="card-text text-justify">Conectar pessoas a um propósito, sem complicações e de forma ética. </p>
        </div>
      </div>
    </div>
  </div>

</div><!--final fundo-->

