<div class="container-fluid mg-0 p-0 navview ">
  <nav class="navbar navbar-expand-lg" style="background-color: #000000;">
    <ul class="nav d-flex align-items-center p-0 ">
      <li>
        <img src='https://i.imgur.com/UTZy3wO.png' alt="logo aion" height=80 width=85
          class=" rounded-circle img-fluid">
        <!--tratativa de imagem add-->
      </li>
      <li class="nav-item">
        <a class="nav-link active text-light" routerLink="/quem-somos">Quem somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-light" href="#luta">Nossa Luta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-light" href="#ongs">ONG's Parceiras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-light" href="#equipe">Equipe</a>
      </li>

      <li class="nav-item d-flex align-items-end">
        <a class="nav-link active text-light" data-toggle="modal" data-target="#login">Login <svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-box-arrow-in-right text-light mr-3" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
            <path fill-rule="evenodd"
              d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
          </svg></a>
      </li>
    </ul>

  </nav>
</div>


<!-- Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex flex-column align-items-center">

        <img src="https://i.imgur.com/UTZy3wO.png" width="70" height="85" class="rounded-circle img-fluid m-3" alt="">
        <!--<h1 class="text-center text-dark" >Login</h1>-->
        <form>
          <hr>
          <div class="form-group mb-1">
            <label class="form-control-icon" for="usuario"><i class="fa fa-user" aria-hidden="true"></i>
            </label>
            <input [(ngModel)]="usuarioLogin.usuario" class="form-control" type="text" name="usuario" id="usuario"
              placeholder="Email">
            <br>
            <label class="form-control-icon" for="senha"><i class="fa fa-unlock-alt" aria-hidden="true"></i></label>
            <input [(ngModel)]="usuarioLogin.senha" class="form-control" type="password" name="senha" id="senha"
              placeholder="Senha">
          </div>

          <div class=" d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-dark w-100 d-black mx-auto" data-dismiss="modal"
              (click)="logar()">Login</button>
          </div>
        </form>

        <hr class="mt-3">
        <p class="text-center text-dark">Não possui uma conta? <a data-dismiss="modal"
            routerLink='/cadastrar'>Cadastre-se</a></p>
      </div>
    </div>
  </div>
</div>
<!-- /Modal -->

<!-- Jumbotron -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 p-0">
      <div class="jumbotron jumbo shadow-lg">
        <div class="bg-image p-5 text-center  rounded mb-5 text-white"></div>

        <h1 class="display-4 strong text-light">Que tal mudar o mundo hoje?</h1>

        <h3 class="lead text-light"> <b>Se você quer ajudar o planeta com gestos simples e formar novas redes de apoio que
          atuam na defesa do meio ambiente através de novos habitos e ações, aqui é o seu lugar!</b></h3>
        <hr class="my-4">
        <p class="text-light"> Vem ai um novo conceito de rede social, preparede para o futuro?
        </p>
        <a class="btn btn-light btn-lg" routerLink="/cadastrar" role="button">Vem com a gente!</a>
      </div>
    </div>
  </div>
</div>
<!-- /Jumbotron -->

<!-- Nossa Luta - TEXTO 1-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="https://i.imgur.com/yplpDwY.png" alt="bg-ongs">
    </div>


    <div class="col-md-6">
      <div class="container-fluid mt-2">
        <div class="row m-0 mb-2 d-flex justify-content-center" id="luta">

          <div class="col-md-12">
            <h3 class="font-weight-bold mr-4 d-flex justify-content-center" style="font-family: Arial, Helvetica, sans-serif;">
              Nossa Luta</h3>
            <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
              <p class="text-justify">Engajado na proposta da ODS-8 da ONU de promover o crescimento econômico sustentado, inclusivo e sustentável,
                emprego pleno e produtivo, e trabalho decente para todos nasceu O Projeto Aion!</p>
            </div>


          </div>
        </div>
      </div>
      <!-- /Nossa luta TEXTO 1-->

      <!-- ODS-8 TEXTO 2-->
      <div class="container-fluid mb-5">
        <div class="row m-0 d-flex justify-content-center">
          <div class="col-md-12">
            <div class="container embed-responsive embed-responsive-16by9">
              <iframe width="500" height="255" src="https://www.youtube.com/embed/AGV3rW83UKk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
            <h3 class="font-weight-bold d-flex justify-content-center" style="font-family: Arial, Helvetica, sans-serif;">ODS-8
            </h3>
            <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
              <p class="text-justify"> A ONU estabeleceu 17 indicadores para que o objetivo fosse alcançado, e dentre eles se
                destaca a meta 8 -
                Trabalho Descente e Crescimento Econômico. Estamos focando em específico na meta 8.4 que relaciona o
                crescimento
                econômico ao meio ambiente. </p>
            </div>
          </div>

        </div>
      </div>
      <!-- /ODS-8 TEXTO 2-->
    </div>
    </div>
  </div>
<div>

<!--CARDS - ONGS-->
<div class="container-fluid d-flex justify-content-center">
  <div class="card-deck row font-size: 1rem; mt-5" id="ongs">
    <div class="card border-secondary shadow-lg bg-light mt-5 mb-3" style="max-width: 18rem;">
      <img class="card-img-top" src="https://www.sosma.org.br/assets/images/causa-mata-atlantica.jpg"
        alt="Imagem de capa do card">
      <div class="card-body text-danger">
        <h5 class="card-title"><a href="https://www.ondaverde.org.br/%22%3E ONG Onda Verde"></a></h5>
        <p class="card-text text-muted">A Onda Verde faz parte do Conselho do Pacto pela Restauração da Mata Atlântica,
          um movimento da sociedade brasileira para restaurar e transformar seu bioma mais ameaçado.</p>
      </div>
    </div>
    <div class="card border-secondary shadow-lg bg-light mt-5 mb-3" style="max-width: 18rem;">
      <img class="card-img-top" src="https://sustainablebrands.com/eddy/dir/brand/logos/9821/brandlogo.png"
        alt="Imagem de capa do card">
      <div class="card-body text-success">
        <h5 class="card-title"><a href="https://www.greenpeace.org/brasil/%22%3E Greenpeace Brasil"></a></h5>
        <p class="card-text text-muted">Além de promover a conscientização ambiental, fortalecemos a mobilização e
          articulação política na área socioambiental.</p>
      </div>
    </div>
    <div class="card border-secondary shadow-lg bg-light mt-5 mb-3" style="max-width: 18rem;">
      <img class="card-img-top"
        src="https://cdn.discordapp.com/attachments/952556720419401791/975911683442765834/WhatsApp_Image_2022-04-27_at_14.55.28.jpeg"
        alt="Imagem de capa do card">
      <div class="card-body text-info">
        <h5 class="card-title"> <a href="https://brazil.generation.org/sobre/%22%3E Generation Brasil"></a></h5>
        <p class="card-text text-muted"> A Generation Brasil treina você nas habilidades mais relevantes para os
          empregadores, conectando você com o (seu) futuro. Saiba mais sobre nossos programas </p>
      </div>
    </div>
  </div>
</div>
<!--/CARDS - ONGS-->


<!--EQUIPE-->
<div class="container-fluid py-5 vw-100" id="equipe">

  <div class="pr-5 d-flex justify-content-center">
      <div class="col-md-6 p-5 mb-5 d-flex flex-column text-center">
          <h2 class="mb-3 font-weight-bold">Sobre a Equipe Desenvolvedora</h2>
          <p class="pgrande">Conheça melhor a equipe de desenvolvimento do projeto AION.</p>
      </div>
  </div>

  <div class="container">
      <div class="row justify-content-around">
          <div class="col-md-3 text-center">
              <div class="d-flex flex-column">
                  <a href="https://www.linkedin.com/in/lorrane-oliveira-7b119436/" target="_blank"><img src="https://cdn.discordapp.com/attachments/952556720419401791/975963019467194458/pixlr-bg-result_2.png" class="mb-4 img-fluid" alt="mayqdev"></a>
                  <h4 class="text-center titulo"> Lorrane Oliveira </h4>
                  <legend class="pequeno">Desenvolvedora Full Stack Java Jr</legend>
                  <p class="pcard">
                    Com formação em Engenharia Química. Determinada a crescer na área, em busca constante pelo conhecimento e apaixonada por tecnologias.
                  </p>
                  <div class="block row justify-content-center">
                      <a href="https://www.linkedin.com/in/lorrane-oliveira-7b119436/" target="_blank"><i class="fa fa-linkedin-square px-2"
                              aria-hidden="true"></i></a>
                      <a href="https://github.com/bonflorrane" target="_blank"><i class="fa fa-github px-2" aria-hidden="true"></i></a>
                  </div>
              </div>
          </div>
<div class="col-md-3 text-center">
              <div class="d-flex flex-column">
                  <a href="https://www.linkedin.com/in/rafael-moreira-lima-70ba71226/" target="_blank"><img src="https://cdn.discordapp.com/attachments/952556720419401791/975963019735597097/pixlr-bg-result_3.png" class="mb-4 img-fluid" alt="maridev"></a>
                  <h4 class="text-center titulo"> Rafael Moreira Lima </h4>
                  <legend class="pequeno">Desenvolvedor Full Stack Java Jr</legend>
                  <p class="pcard">
                    Um grande fã de sistemas operacionais, banco de dados, software livre, redes, programação, dispositivos móveis e tudo que envolve tecnologia.
                  </p>
                  <div class="block row justify-content-center">
                      <a href="https://www.linkedin.com/in/rafael-moreira-lima-70ba71226/" target="_blank"><i class="fa fa-linkedin-square px-2"
                              aria-hidden="true"></i></a>
                      <a href="https://github.com/rflmoreira" target="_blank"><i class="fa fa-github px-2"
                              aria-hidden="true"></i></a>
                  </div>
              </div>
          </div>
<div class="col-md-3 text-center">
              <div class="d-flex flex-column">
                  <a href="https://www.linkedin.com/in/kau%C3%A3-mauricio-amorim-89640521b/" target="_blank"><img src="https://cdn.discordapp.com/attachments/952556720419401791/976094011418902539/pixlr-bg-result_9.png" class="mb-4 img-fluid" alt="guuidev"></a>
                  <h4 class="text-center titulo"> Kauã Mauricio Amorim </h4>
                  <legend class="pequeno">Desenvolvedor Full Stack Java Jr</legend>
                  <p class="pcard">
                      Desenvolvedor Full-Stack Java, em contato há mais de um ano com a programação, atualmente me formando em análise e desenvolvimento de sistemas.</p>
                  <div class="block row justify-content-center">
                      <a href="https://www.linkedin.com/in/kau%C3%A3-mauricio-amorim-89640521b/" target="_blank"><i
                              class="fa fa-linkedin-square px-2" aria-hidden="true"></i></a>
                      <a href="https://github.com/KauaMauricio" target="_blank"><i class="fa fa-github px-2"
                              aria-hidden="true"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-around">
        <div class="col-md-3 text-center">
            <div class="d-flex flex-column">
                <a href="https://www.linkedin.com/in/jhonathan-fds/" target="_blank"><img src="https://cdn.discordapp.com/attachments/952556720419401791/975963020201181204/pixlr-bg-result_5.png" class="mb-4 img-fluid" alt="gabedev"></a>
                <h4 class="text-center titulo"> Jhonathan Ferreira dos Santos </h4>
                <legend class="pequeno">Desenvolvedor Full Stack Java Jr</legend>
                <p class="pcard">
                  Iniciando minha carreira na área de Tecnologia. Procuro a minha primeira oportunidade de trabalho no setor como Desenvolvedor. Apaixonado por lógica sempre em busca de novos desafios.
                </p>
                <div class="block row justify-content-center">
                    <a href="https://www.linkedin.com/in/jhonathan-fds/" target="_blank"><i class="fa fa-linkedin-square px-2"
                            aria-hidden="true"></i></a>
                    <a href="https://github.com/JhonathanFS" target="_blank"><i class="fa fa-github px-2"
                            aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
<div class="col-md-3 text-center">
            <div class="d-flex flex-column">
                <a href="https://www.linkedin.com/in/jo%C3%A3o-pedro-l-silva-b029b418b/" target="_blank"><img src="https://cdn.discordapp.com/attachments/952556720419401791/975963020482216026/pixlr-bg-result_6.png" class="mb-4 img-fluid" alt="rafadev"></a>
                <h4 class="text-center titulo">João Pedro L. Silva</h4>
                <legend class="pequeno">Desenvolvedor Full Stack Java Jr</legend>
                <p class="pcard">
                    Desenvolvedor que busca explorar, destacar e compartilhar suas habilidades e competências, seguindo os caminhos da tecnologia.
                </p>
                <div class="block row justify-content-center">
                    <a href="https://www.linkedin.com/in/jo%C3%A3o-pedro-l-silva-b029b418b/" target="_blank"><i class="fa fa-linkedin-square px-2"
                            aria-hidden="true"></i></a>
                    <a href="https://github.com/jpsilva21" target="_blank"><i class="fa fa-github px-2"
                            aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
<div class="col-md-3 text-center">
            <div class="d-flex flex-column">
                <a href="https://www.linkedin.com/in/limanathaliasousa/" target="_blank"><img src="https://cdn.discordapp.com/attachments/952556720419401791/975967237494153266/pixlr-bg-result_8.png" class="mb-4 img-fluid" alt="samueldev"></a>
                <h4 class="text-center titulo">Nathalia S. Lima</h4>
                <legend class="pequeno">Desenvolvedora Full Stack Java Jr</legend>
                <p class="pcard">
                  Possui graduação em Ciências Biológicas e agora é do mundo tech! Possui experiência com atividades que demandam habilidades de trabalho em equipe, comunicação, atenção aos detalhes e pesquisa/acadêmica.</p>
                <div class="block row justify-content-center">
                    <a href="https://www.linkedin.com/in/limanathaliasousa/" target="_blank"><i
                            class="fa fa-linkedin-square px-2" aria-hidden="true"></i></a>
                    <a href="https://github.com/iamnathalia" target="_blank"><i class="fa fa-github px-2"
                            aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<hr>
<footer class="font-small pt-4" style="background-color: #000000;">

  <div class="container">

  <ul class="col-md-12 d-flex justify-content-center">

    <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank">
      <img class="mr-3" height="40" width="40" src="https://i.imgur.com/gp1OvZn.png" alt="gmail">
    </a>
    <a href="https://github.com/Projeto-Aion" target="_blank">
      <img class="mr-3" height="40" width="40" src="https://i.imgur.com/7Oabbwi.png" alt="logo github">
    </a>
    <a href="https://discord.gg/asK9KSA9" target="_blank">
      <img class="mr-3" height="40" width="40" src="https://i.imgur.com/07tpcHZ.png" alt="Logo Discord">
    </a>

  </ul>
  </div>

  <p class="center d-flex justify-content-center text-light m-0">
    Todos os direitos reservados: Aion &copy; 2022
  </p>
</footer>