.padrao {
  height: 100vh;
}

.navview{
  width: 100%;
}

.form-group .form-control-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #000
}

.jumbo {
  background-image: url(https://cdn.wallpapersafari.com/83/53/EfJB9W.jpg)
}

.br-20{
  border-radius: 50px;
}
