<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item active">
                <img src="../../assets/UsuariaMarina.jpg" alt="imagem do user" width="50px" height="50px"
                    class="img-fluid rounded-circle">
            </li>

            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-white fs-16">Nome do usuário</p>
            </li>

            <li class="nav-item pl-3 ml-3">
                <a href="">
                    <p class="text-white fs-16 m-0"><i class="fa fa-home" aria-hidden="true"></i></p>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
        </ul>


        <ul class="navbar-nav  list-inline">
            <li class="nav-item mr-auto pl-3 list-unstyled list-inline-item">
                <a href="">
                    <p class="text-white fs-16 mr-3"><i class="fa fa-search align-items-center" aria-hidden="true"></i></p>
                </a>

                <form class="form-inline my-2 my-lg-0 d-flex list-inline-item">
                    <input class="form-control mr-sm-2" type="pesquisa" placeholder="Pesquisa" aria-label="Pesquisa">
                </form>
            </li>

            <li class="nav-item pl-3 ml-auto list-inline-item">
                <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out"
                        aria-hidden="true"></i></a>
            </li>
        </ul>

    </div>
</nav>