<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item active">
                <img src="{{foto}}" alt="imagem do user" width="50px" height="50px"
                    class="img-fluid rounded-circle">
            </li>

            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-white fs-16">Olá, {{nome}}</p>
            </li>

            <li class="nav-item pl-3 ml-3">
                <a href="">
                    <p class="text-white fs-16 m-0"><i class="fa fa-home" aria-hidden="true"></i></p>
                </a>
                <a class="nav-link fs-16 text-white" style="font-family:sans-serif" routerLink="/inicio">home<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav  list-inline">
            <li class="nav-item mr-auto pl-3 list-unstyled list-inline-item">
                <a href="">
                    <p class="text-white fs-16 mr-3"></p>
                </a>
                <div class="form-group">
                    <span class="fa fa-search form-control-icon"></span>
                      <input
                      placeholder="Pesquisar"
                      class="form-control"
                      type="text"
                      name="usuario"
                      id="usuario"
                    />
                  </div>
            </li>
            <li class="nav-item pl-3 ml-auto list-inline-item d-flex align-items-center">
                <a (click)='sair()' class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out"
                        aria-hidden="true"></i></a>
            </li>
        </ul>

    </div>
</nav>


