<div class="container-fluid perfil-fundo">

<div class="imgfundo d-flex justify-content-center">
  <img width="100%" height="20%" src="https://doo.com.br/admin/kcfinder/upload/images/1--Qual-a-difenca.png" alt="foto de capa">
</div>

<div class="topo mt-1 ml-1">
  <p routerLink="/inicio"><i class="fa fa-duotone fa-arrow-left"></i>
</div>

<div class="foto-perfil d-flex justify-content-center">
  <img class="img-perfil rounded-circle img-fluid" [src]="foto" alt="foto de perfil">
</div>

<div class="d-flex justify-content-end btt">
<button class="button text-black">PERFIL {{tipo}}</button>
</div>

<div class="final">
<p class="nome d-flex justify-content-center">{{nome}}</p>
<p class="email d-flex justify-content-center">usuarioteste@email.com{{usuario}}</p>
<p class="descricao d-flex justify-content-center">eu sou um estudante muito esforçado.</p>
<p class="descricao d-flex justify-content-center">São Paulo/São Paulo</p>
<p class="descricao d-flex justify-content-center">{{telefone}}</p>
</div>

</div> <!-- FIM DA DIV PRINCIPAL -->