.quebra {
  white-space: pre-line
}
pre{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* width: 25rem; */
  /* word-break: normal; */
}

h4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.butao:hover {
  color: aquamarine ;
}