.card {
    margin-top: 2em;
    padding: 1.5em 0.5em 0.5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #d3efe5;
  }
  .card img {
    width: 65%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .card .card-title {
    font-weight: 700;
    font-size: 1.5em;
  }
  .card .btn {
    background-color: #008080;
    color: #ffffff;
    padding: 0.5em 2.0em;
  }
  .card .btn:hover {
    background-color: #008080b3;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  
  
  
  
  
      .nova {
      background-color: #008080;
      color: white;
      border-radius: 3px;
      font-family: Poppins, sans-serif !important;
      font-size: 0.9rem;
      margin-right: 1rem;
      padding: 2 1rem;
    }
    
    .nova:hover {
      background-color: #008080b3;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    .ver {
      background-color: #d3efe5;
      color: #008080b3;
      border-radius: 3px;
      font-family: Poppins, sans-serif !important;
      font-size: 0.9rem;
      margin-right: 1rem;
      padding: 2 1rem;
    }
    
    .ver:hover {
      background-color: #bce7d7;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  