<h3 class="text-center m-2">
  Feed de Noticias
</h3>
<div class="scroll">

  <hr>

<div class="container mb-3 col-6">
  <ul class="list-unstyled">

    <li class="media">
      <img class="mr-3" src=".../64x64" alt="Imagem de exemplo genérica">
      <div class="box media-body">
        <h5> @usuario </h5>
        sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src=".../64x64" alt="Imagem de exemplo genérica">
      <div class="box media-body">
        <h5 class="mt-0 mb-1">@usuario</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src=".../64x64" alt="Imagem de exemplo genérica">
      <div class="box media-body">
        <h5 class="mt-0 mb-1">@usuario</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src=".../64x64" alt="Imagem de exemplo genérica">
      <div class="box media-body">
        <h5 class="mt-0 mb-1">@usuario</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src=".../64x64" alt="Imagem de exemplo genérica">
      <div class="box media-body">
        <h5 class="mt-0 mb-1">@usuario</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src=".../64x64" alt="Imagem de exemplo genérica">
      <div class="box media-body">
        <h5 class="mt-0 mb-1">@usuario</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src=".../64x64" alt="Imagem de exemplo genérica">
      <div class="box media-body">
        <h5 class="mt-0 mb-1">@usuario</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src=".../64x64" alt="Imagem de exemplo genérica">
      <div class="box media-body">
        <h5 class="mt-0 mb-1">@usuario</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src=".../64x64" alt="Imagem de exemplo genérica">
      <div class="box media-body">
        <h5 class="mt-0 mb-1">@usuario</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src=".../64x64" alt="Imagem de exemplo genérica">
      <div class="box media-body">
        <h5 class="mt-0 mb-1">@usuario</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src=".../64x64" alt="Imagem de exemplo genérica">
      <div class="box media-body">
        <h5 class="mt-0 mb-1">@usuario</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src=".../64x64" alt="Imagem de exemplo genérica">
      <div class="box media-body">
        <h5 class="mt-0 mb-1">@usuario</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src=".../64x64" alt="Imagem de exemplo genérica">
      <div class="box media-body">
        <h5 class="mt-0 mb-1">@usuario</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src=".../64x64" alt="Imagem de exemplo genérica">
      <div class="box media-body">
        <h5 class="mt-0 mb-1">@usuario</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
      </div>
    </li>


  </ul>
</div>
</div>